.spaceCard {
  color: var(--white);
  font-size: 2rem;
  line-height: 1.3em;

  width: 152rem;
  height: 70rem;

  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;

  background-color: var(--green);
}

.img {
  height: 70rem;
}

.content {
  /* flex: 1 1 auto; */
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 5rem 7rem;
}

.title {
  text-align: left;
  letter-spacing: initial;
  font-weight: 500;
  line-height: 1.2;
}

.parameters {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.wrapper {
  display: flex;
  gap: 4rem;
}

.parameter {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header {
  font-weight: 500;
}

.options {
  display: grid;
  gap: 1rem;
  margin-left: 1em;
}

.option {
  text-align: left;
}

.option::marker {
  font-size: 1em;
}

.prices {
  font-size: 2.2rem;
  font-weight: 500;
  display: flex;
  gap: 3rem;
}

.sales {
  text-align: left;
  text-wrap: balance;
}

.controls {
  margin-top: auto;
  display: flex;
  gap: 2rem;
}
