.button {
  --font-color: var(--black);
  --bg-color: var(--white);
  --border-color: var(--black);

  color: var(--font-color);
  border: 0.15rem solid var(--border-color);
  position: relative;

  background-size: 205% 100%;
  background-position: left 0 top 0;

  transition:
    background-position 0.2s ease-out,
    color 0.2s;
  background-image: linear-gradient(
    to left,
    var(--font-color),
    var(--font-color) 50%,
    var(--bg-color) 50%,
    var(--bg-color)
  );

  padding: 1.5rem 3rem;
  cursor: pointer;

  font-family: var(--font-special);
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.45em;
  letter-spacing: 0.07em;
}

.button:hover {
  color: var(--bg-color);
  background-position: right calc(0% + 0.5%) top 0;
}

.button_small {
  padding: 1rem 3rem;
}

.button_black {
  --font-color: var(--white);
  --bg-color: var(--black);
  --border-color: var(--black);
}

.button_green {
  --font-color: var(--white);
  --bg-color: var(--green);
  --border-color: var(--white);
}

.button_lightgrey {
  --font-color: var(--black);
  --bg-color: var(--lightgrey);
  --border-color: var(--black);
}

.button_inverted {
  color: var(--bg-color);
  background-image: linear-gradient(
    to left,
    var(--bg-color),
    var(--bg-color) 50%,
    var(--font-color) 50%,
    var(--font-color)
  );
}

.button.button_inverted:hover {
  color: var(--font-color);
}

.button_disabled,
.button_disabled:hover {
  color: var(--grey);
  --border-color: var(--grey);
  pointer-events: none;
}

.button_loading,
.button_loading:hover {
  color: transparent;
  cursor: progress;
}
/* 
.loader {
  font-size: 1em;
} */

.button .loader,
.button_inverted:hover .loader {
  color: var(--font-color);
}
.button:hover .loader,
.button_inverted .loader {
  color: var(--bg-color);
}
