:root {
  font-size: var(--font-size, 10px);
  font-family: var(--font-primary);
}

body {
  font-size: 1.8rem;
  line-height: 1.25em;
}

p {
  line-height: 1.25em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-special);
  letter-spacing: 0.07em;
  line-height: 1.45em;
  font-weight: 700;
}

h1 {
  font-size: 7.5rem;
  line-height: 1.25em;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 5rem;
}

h4 {
  font-size: 2.7rem;
}

h5 {
  font-size: 2.2rem;
}

h6 {
  font-size: 2rem;
}
