* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;

  font: inherit;
  line-height: 1;

  -webkit-user-drag: none;
  -webkit-tap-highlight-color: transparent;
}
