.logo {
  display: inline-block;
  width: fit-content;
  --color: var(--black);
}

.logo_pointer {
  cursor: pointer;
}

.svg {
  width: 100%;
  height: 100%;
}

.svg path {
  fill: var(--color);
}

.logo_white {
  --color: var(--white);
}
