.icon {
  padding: auto;
}

.svg,
.svg path,
.svg rect {
  width: 100%;
  height: 100%;
  fill: var(--color, #111);
  stroke: var(--color, #111);
}

.icon_white {
  --color: var(--white);
}
.icon_lightgrey {
  --color: var(--lightgrey);
}
.icon_grey {
  --color: var(--grey);
}
.icon_orange {
  --color: var(--orange);
}
.icon_green {
  --color: var(--green);
}
.icon_lightgreen {
  --color: var(--lightgreen);
}
.icon_blue {
  --color: var(--blue);
}
.icon_milk {
  --color: var(--milk);
}
