.cover {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
  transition: opacity 0.2s ease-in;
  animation: opacity 0.2s ease-in;
}

.cover_out {
  opacity: 0;
}

.modal {
  --size-50-70-inf: max(50px, calc(50px + 20 * (0.0625vw - 0.2px)));
  --size-20-70-inf: max(20px, calc(20px + 50 * (0.0625vw - 0.2px)));
  --size-20-30-inf: max(20px, calc(20px + 10 * (0.0625vw - 0.2px)));

  position: relative;
  background-color: var(--white);
  transition: all 0.2s ease-in;
  animation:
    opacity 0.2s ease-in,
    scale 0.2s ease-in;
}

.modal_out {
  opacity: 0;
  transform: scale(0.5);
}

.container {
  margin: var(--size-50-70-inf) var(--size-20-70-inf);
}

.close {
  position: absolute;
  top: 3rem;
  right: var(--size-20-30-inf);

  --size: var(--size-20-30-inf);
  width: var(--size) !important;
  height: var(--size) !important;

  transition: all 0.1s ease-out;
}

.close:hover {
  transform: scale(1.05);
  filter: drop-shadow(0.3rem 0.3rem 0.3rem var(--grey));
}

.close:active {
  transform: scale(0.95);
  filter: drop-shadow(0 0 0 var(--grey));
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}
