.anchor {
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.anchor_disabled {
  cursor: auto;
  pointer-events: none;
  opacity: 0.7;
}

.anchor::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.1em;
  height: 0.1em;
  width: 0;
  transition:
    width 0.2s ease-out,
    opacity 0.2s ease-out;
  background-color: var(--black);
}

.anchor:hover::after {
  width: 100%;
}

.anchor_underlined::after {
  width: 100%;
}

.anchor_underlined:hover::after {
  opacity: 0;
}

.anchor_white::after {
  background-color: var(--white);
}

.anchor_orange::after {
  background-color: var(--orange);
}
